{% extends "index_old.html" %}
<!--This form basically adds the data to the database   Client __> Machine --> 

{% block content %}
    <div class = "form-page">
    <h1>Update Room Form</h1>
    <form method="POST" action="">
        {% if room.host == request.user %}
            {% csrf_token %}   <!-- This is used to send POST request into the server-->
            {{ form.as_p }}     
            <input type = "Submit" value = "Submit"/>
        {% else %}
            <p>You are not authorized to edit this room.</p>
            <a href = "{% url 'display' %}"> Go Back </a>
        {% endif %}
    
    </form>
    </div>
{% endblock content %}